.icon {
    transform: scale(2.6)translateY(-3px);
    margin: 0px 30px 0px 10px;
}

.siteName {
    font-family: 'Abril Fatface', cursive;
}

.nav-item {
    padding: 0px 10px;
    font-size: 18px;
    line-height: 15px
  }
  

.active {
    font-weight: bold;
    font-style: italic;
}